header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: rgb(218, 213, 213);
    align-items: center;
    border-radius: 30px;
    margin-top: 10px;
    width: 93%;
    margin-left: 100px;
    position: fixed;
  

}
a{
    text-decoration: none;
    color: rgb(245, 11, 11);
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 20px;
    margin-left: 50px;
}
nav a{
    font-weight: 600;
    padding-right: 30px;
    align-content: center;
}
nav a:hover{
    color: rgb(255, 123, 0);
}