.preguntas{
    padding: 0;
    margin: 0;
    border-radius: 50px;
    box-sizing: border-box;
    border-radius: 20px;
    align-items: center;
    margin: 50px;
    

}
.titulo{
    align-items: centers;
    text-align: center;
    margin: 50px;
}
.parent1 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
   
    
    }
    
.div1 { grid-area: 1 / 1 / 2 / 2;
    align-items: center;
    
    
    }
.div2 { grid-area: 1 / 2 / 2 / 3;
   
    }



.container-faq {
    box-shadow: 0 0 20px -1px rgba(0,0,0,.1);
    padding: 20px;
    border-radius: 50px;
   
    height: 500px;
    width: 800px;
    margin-left: 150px;
}

.container-faq .title-faq {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}

.container-faq .item-faq {
   background: rgba(182, 182, 182, 0.226);
    margin-bottom: 10px;
    border-radius: 30px;
}

.container-faq .item-faq .question {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 20px 20px 20px;
    transition: .4s;
}

.container-faq .item-faq .question .more {
    display: flex;
    justify-content: center;
    align-items: center;
   background: white;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: .4s;
    border-radius: 20px;
}

.container-faq .item-faq .question .more:hover {
    box-shadow: 0 0 15px -1px rgba(255, 0, 0, 0.219);
    
}



.container-faq .item-faq .answer {
    position: relative;
    padding: 0 20px 0 80px;
    overflow: hidden;
    height: 0;
    transition: .4s;
}

.container-faq .item-faq .answer p {
    font-size: 1.3rem;
}
.div2 .contenedor_1{
    width: 300px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-left: 0px;
    border-radius: 20px;
    align-items: center;
}
.contenedor_1 img{
    width: 100%;
    height: 100%;
}
.contenedor_1 h1 {
    color: white;
    position: absolute;
    top: 80px ;
    left: 0px;
    margin-left: 50px ;
    


}
.contenedor_1 p {
    color: white;
    position: absolute;
    top: 160px ;
    left: 0px;
    margin-left: 0px ;
    text-align: center;


}
.contenedor_1 .escribe{
    color: rgb(253, 0, 0);
    position: absolute;
    top: 250px ;
    left: 0px;
    margin-left: 0px ;
    text-align: center;
    height: 35px;
    width: 80%;
    margin-left: 30px;
    border-radius: 20px;
    border-color: rgb(255, 76, 76);

}


